<div class="app">
  <button class="btnBack"><</button><div class="btn1">Volver</div>

  <div class="list">
    <div class="title">Tickets</div>
    <div class="ticket" *ngFor="let tickets of tickets">
      <div id="from">De: {{tickets.from}}</div>
      <div  id="Snew" *ngIf="tickets.status == 'NEW' ">NUEVO</div>
      <div class="statusSolved" *ngIf="tickets.status == 'SOLVED' ">RESPONDIDO</div>
      <div class="subject">{{tickets.subject | slice: 0:25}}</div>
      <div class="date">Enviado: {{tickets.date | date}}</div>
      <div class="body" *ngIf="tickets.status == 'NEW'">{{tickets.body | slice: 0:30}}...</div>
      <button id="btn" *ngIf="tickets.status == 'NEW'">></button>
      <button id="btnSolved" *ngIf="tickets.status == 'SOLVED'">></button>

    </div>

  </div>

  <div class="footer"><img id="img"
      src="https://1.bp.blogspot.com/-4Po3KRsv7c4/YKvhsyrfTaI/AAAAAAAAADc/DtsvgJPU4scuY_iAVW5aRuvljWNJvOj1ACLcBGAsYHQ/s320/tiendaMia.png"
      alt=""></div>
</div>

<router-outlet></router-outlet>
